# Directories #
################################################################################
bin
include
libs
/**/release
/**/debug
/**/moc
/**/x64

# Files #
################################################################################
*.qmake.stash
/**/Makefile*
/**/*.suo
/**/*.db
/**/*.vcxproj.*
/**/*.vcxproj
/**/*.sln
*pro.user
