# Directories #
################################################################################
bin
libs
/**/release
/**/debug
/**/moc
/**/x64

# Files #
################################################################################
*.qmake.stash
/**/makefile*
/**/*.suo
/**/*.db
/**/*.vcxproj.*
*pro.user
